<div class="page-header">
    <div class="page-title">
        <h4>All Notifications</h4>
        <h6>View your all activities</h6>
    </div>
</div>

<div class="card mb-3 border shadow-none notification-card">
    <div class="px-3 py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago" data-original-title="" title="">
            <div class="d-flex me-2">
                <a [routerLink]="routes.profile" class="avatar avatar-lg avatar-rounded">
                    <img src="assets/img/customer/profile3.jpg" alt="Elwis Mathew">
                </a>
            </div>
            <div class="flex-fill ml-3">
                <p class="text-sm lh-140 mb-0"><a [routerLink]="routes.profile" class="h6">Elwis Mathew</a> <span class="mx-1">added a new product</span> <a href="javascript:void(0);" class="h6">Redmi Pro 7 Mobile</a></p>
                <small><i class="far fa-clock me-1"></i>Just Now</small>
            </div>
        </div>
        <div class="noti-btn">
            <a href="javascript:void(0);" class="btn btn-md btn-soft-danger rounded-circle p-2 fs-14 d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-modal">
                <i class="ti ti-trash"></i>
            </a>
        </div>
    </div>
    
    
</div>

<div class="card mb-3 border shadow-none notification-card">
    <div class="px-3 py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago" data-original-title="" title="">
            <div class="d-flex me-2">
                <a [routerLink]="routes.profile" class="avatar avatar-lg avatar-rounded">
                    <img src="assets/img/customer/profile4.jpg" alt="Elizabeth Olsen">
                </a>
            </div>
            <div class="flex-fill ml-3">
                <p class="text-sm lh-140 mb-0"><a [routerLink]="routes.profile" class="h6">Elizabeth Olsen</a> <span class="mx-1">added a new product category</span> <a href="javascript:void(0);" class="h6">Desktop Computers</a></p>
                <small><i class="far fa-clock me-1"></i>4 min ago</small>
            </div>
        </div>
        <div class="noti-btn">
            <a href="javascript:void(0);" class="btn btn-md btn-soft-danger rounded-circle p-2 fs-14 d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-modal">
                <i class="ti ti-trash"></i>
            </a>
        </div>
    </div>
</div>

<div class="card mb-3 border shadow-none notification-card">
    <div class="px-3 py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago" data-original-title="" title="">
            <div class="d-flex me-2">
                <a [routerLink]="routes.profile" class="avatar avatar-lg avatar-rounded">
                    <img src="assets/img/customer/profile5.jpg" alt="William Smith">
                </a>
            </div>
            <div class="flex-fill ml-3">
                <p class="text-sm lh-140 mb-0"><a [routerLink]="routes.profile" class="h6">William Smith</a> <span class="mx-1">added a new sales list for</span> <a href="javascript:void(0);" class="h6">January Month</a></p>
                <small><i class="far fa-clock me-1"></i>6 min ago</small>
            </div>
        </div>
        <div class="noti-btn">
        <a href="javascript:void(0);" class="btn btn-md btn-soft-danger rounded-circle p-2 fs-14 d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-modal">
            <i class="ti ti-trash"></i>
        </a>
        </div>
    </div>
</div>

<div class="card mb-3 border shadow-none notification-card">
    <div class="px-3 py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago" data-original-title="" title="">
            <div class="d-flex me-2">
                <a [routerLink]="routes.profile" class="avatar avatar-lg avatar-rounded">
                    <img src="assets/img/customer/customer4.jpg" alt="Lesley Grauer">
                </a>
            </div>
            <div class="flex-fill ml-3">
                <p class="text-sm lh-140 mb-0"><a [routerLink]="routes.profile" class="h6">Lesley Grauer</a> <span class="mx-1">has updated invoice</span> <a href="javascript:void(0);" class="h6">#987654</a></p>
                <small><i class="far fa-clock me-1"></i>12 min ago</small>
            </div>
        </div>
        <div class="noti-btn">
            <a href="javascript:void(0);" class="btn btn-md btn-soft-danger rounded-circle p-2 fs-14 d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-modal">
                <i class="ti ti-trash"></i>
            </a>
        </div>
    </div>
</div>

<div class="card mb-3 border shadow-none notification-card">
    <div class="px-3 py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago" data-original-title="" title="">
            <div class="d-flex me-2">
                <span class="avatar avatar-lg bg-success avatar-rounded">
                    <span class="avatar-title">CE</span>
                </span>
            </div>
            <div class="flex-fill ml-3">
                <p class="text-sm lh-140 mb-0"><a [routerLink]="routes.profile" class="h6">Carl Evans</a> <span class="mx-1">adjust the stock</span> <a href="javascript:void(0);" class="h6">Apple Series 5 Watch</a></p>
                <small><i class="far fa-clock me-1"></i>2 days ago</small>
            </div>
        </div>
        <div class="noti-btn">
            <a href="javascript:void(0);" class="btn btn-md btn-soft-danger rounded-circle p-2 fs-14 d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-modal">
                <i class="ti ti-trash"></i>
            </a>
        </div>
    </div>
</div>

<div class="card mb-3 border shadow-none notification-card">
    <div class="px-3 py-3 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago" data-original-title="" title="">
            <div class="d-flex me-2">
                <a [routerLink]="routes.profile" class="avatar avatar-lg bg-primary avatar-rounded">
                    <span class="avatar-title">MR</span>
                </a>
            </div>
            <div class="flex-fill ml-3">
                <p class="text-sm lh-140 mb-0"><a [routerLink]="routes.profile" class="h6">Minerva Rameriz</a> <span class="mx-1">accepted Quotation</span> <a href="javascript:void(0);" class="h6">#QUO0001</a></p>
                <small><i class="far fa-clock me-1"></i>1 month ago</small>
            </div>
        </div>
        <div class="noti-btn">
            <a href="javascript:void(0);" class="btn btn-md btn-soft-danger rounded-circle p-2 fs-14 d-inline-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#delete-modal">
                <i class="ti ti-trash"></i>
            </a>
        </div>
    </div>
</div>

	<!-- delete modal -->
    <div class="modal fade" id="delete-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="page-wrapper-new p-0">
                    <div class="content p-5 px-3 text-center">
                            <span class="rounded-circle d-inline-flex p-2 bg-danger-transparent mb-2"><i class="ti ti-trash fs-24 text-danger"></i></span>
                            <h4 class="fs-20 fw-bold mb-2 mt-1">Delete Account</h4>
                            <p class="mb-0 fs-16">Are you sure you want to delete account?</p>
                            <div class="modal-footer-btn mt-3 d-flex justify-content-center">
                                <button type="button" class="btn me-2 btn-secondary fs-13 fw-medium p-2 px-3 shadow-none" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary fs-13 fw-medium p-2 px-3" data-bs-dismiss="modal">Yes Delete</button>
                            </div>						
                    </div>
                </div>
            </div>
        </div>
    </div>